<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">WTFBBQ</h1>
                <p class="lead section-lead">Matching your kitchen's ingredients to easy to make recipes.</p>
                <p class="section-paragraph">Do you have randomitems in your pantry that you have no idea what to do with? We're here to help! <strong>wtfbbq</strong> will <em>think</em> for you based on the ingredients you have. Ready to give us a try?</p>
            </div>
        </div>
    </div>
</section>
