<h1>Ingredients</h1>
<p>
	I am the ingredients
</p>
<form method="post" action="/ingredients">
	<input type="text" name="name" placeholder="Ingredient name" />
	<br />
	<input type="text" name="quantity" placeholder="How many?" />
	<br />
	<input type="text" name="food_group" />
	<br/>
	<button type="submit">Create an ingredient!</button>
</form>